<section>
    <div class="Dashboard ">

        <div class="SideMenu">
            <div class="Logo">
                <div class="logoimage"></div>
                <!-- <img src="../../assets/Logo 2.png" class="img-fluid1234" alt="...">      -->
            </div>

            <div class="FooterSideNave">
                <div class="footerNavigations">
                    <img src="../../assets/aa.png" class="img-fluid1234" alt="...">
                </div>
                <div class="footerNavigations1 ">
                    <img src="../../assets/Menu _ Navigations.png" class="img-fluid1234" alt="...">
                </div>
                <div class="footerProfile">
                    <img src="../../assets/Profile.png" class="img-fluid1234" alt="...">
                </div>

            </div>
            <div class="Frame8962" >

                <div class="FrameDashboard">  <img src="../../assets/Menu _ Navigations1.png" class="img-fluid1234" alt="..."></div>
                <div class="menu2"> <img src="../../assets/Menu _ Navigations2.png" class="img-fluid1234" alt="..."></div>
                <div class="menu2"> <img src="../../assets/Menu _ Navigations3.png" class="img-fluid1234" alt="..."></div>
                <div class="menu2"> <img src="../../assets/Menu _ Navigations4.png" class="img-fluid1234" alt="..."></div>
                <div class="menu2"> <img src="../../assets/Menu _ Navigations5.png" class="img-fluid1234" alt="..."></div>
                <div class="menu2"> <img src="../../assets/Menu _ Navigations6.png" class="img-fluid1234" alt="..."></div>
                <div class="menu2"> <img src="../../assets/Menu _ Navigations7.png" class="img-fluid1234" alt="..."></div>

            </div>

        </div>

        <div class="Main">

            <div class="Navigation">
                <div class="Tittle">
                    <div class="Prospect">Dashboard </div>
                </div>
                <div class="">
                    <div class="form Header">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" class="form-control  form-input" placeholder="Search ">
                    </div>
                </div>
                <!-- <div class="Header2">
                <div class="Getstarted">
                    <div class="CardBanner">sdfas</div>
                </div>
            </div> -->
            </div>
            <div class="Content">
                <div class="contentTittle">
                    <div class="GetStartedText">Get Started</div>
                </div>
                <div class="Header2">
                    <div class="Getstarted">
                        <div class="CardBanner">
                            <div class="HeaderCard">
                                <div class="HeaderCard2">
                                    <div class="CardIconDashboard">
                                        <img src="../../assets/Enggage.png" class="img-fluid1234" alt="...">
                                    </div>
                                    <div class="Engage"> Engage </div>
                                </div>
                                <div class="cardText">
                                    Automate your follow-ups and increase your email response rate.
                                </div>
                            </div>
                            <div class="CardButtonLink">
                                <div class="CardButtonLinkText"> Learn More </div>
                            </div>
                        </div>
                        <div class="CardBanner">
                            <div class="HeaderCard">
                                <div class="HeaderCard2">
                                    <div class="CardIconDashboard">
                                        <img src="../../assets/Analyze.png" class="img-fluid1234" alt="...">
                                    </div>
                                    <div class="Engage"> Analyze </div>
                                </div>
                                <div class="cardText">
                                    Measure what works best & improve your campaigns </div>
                            </div>
                            <div class="CardButtonLink">
                                <div class="CardButtonLinkText"> Learn More </div>
                            </div>
                        </div>
                        <div class="CardBanner">
                            <div class="HeaderCard">
                                <div class="HeaderCard2">
                                    <div class="CardIconDashboard">
                                        <img src="../../assets/Sinc.png" class="img-fluid1234" alt="...">
                                    </div>
                                    <div class="Engage"> Sinc </div>
                                </div>
                                <div class="cardText">
                                    Sync across platforms with powerful integrations </div>
                            </div>
                            <div class="CardButtonLink">
                                <div class="CardButtonLinkText"> Learn More </div>
                            </div>
                        </div>

                    </div>
                    <div class="BannerVideo">
                        <div class="VideoImage">
                            <img src="../../assets/Image.png" class="" alt="...">

                        </div>
                        <div class="Play">
                            <div class="Pplay">
                                <div class="Polygon5">
                                    <img src="../../assets/Polygon 5.png" class="" alt="...">

                                </div>
                            </div>
                        </div>
                        <div class="Footer">
                            <div class="BanerText">
                                <div class="Quickguide">
                                    Quick guide
                                </div>
                                <div class="Takealookthisguideforstarter"> Take a look this guide for starter</div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="MainFooter">
                    <div class="chart">

                        <div>
                            <div>
                                <div>
                                    <canvas class="chartDesign" baseChart [data]="barChartData"
                                        [options]="barChartOptions" [plugins]="barChartPlugins" [type]="barChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>






                    </div>
                    <div class="Activities">
                        <div class="HeaderActivity">
                            <div class="RecentActivities"> Recent Activities</div>
                            <div class="ButtonLinkRActivity">
                                <div class="ButtonStandard"> View All </div>
                            </div>
                        </div>

                        <div class="ActivitiesScroll">
                            <div class="CardActivities">

                                <div class="Profile"><img src="../../assets/Ellipse 17.png" class="img-fluid1234"
                                        alt="...">
                                </div>
                                <div class="ActivityContent">
                                    <div class="ActivityContentHeader">
                                        <div class="Viewed">Viewed</div>
                                        <div class="Activitybutton">Jane Cooper</div>
                                    </div>
                                    <div class="AccountExecutive"> Account Executive</div>
                                    <div class="Minutesago"> 20 Minutes ago</div>
                                </div>
                                <div class="ButtonSend">
                                    <div class="CampaignBTN">
                                        <div class=""><img src="../../assets/Vector4.png" class="img-fluid1234"
                                                alt="..."></div>
                                    </div>

                                </div>
                            </div>
                            <!--  -->
                            <div class="CardActivities">
                                <div class="Profile"><img src="../../assets/Ellipse 17.png" class="img-fluid1234"
                                        alt="...">
                                </div>
                                <div class="ActivityContent">
                                    <div class="ActivityContentHeader">
                                        <div class="Viewed">Viewed</div>
                                        <div class="Activitybutton">Annette Black</div>
                                    </div>
                                    <div class="AccountExecutive"> Account Executive</div>
                                    <div class="Minutesago"> 20 Minutes ago</div>
                                </div>
                                <div class="ButtonSend">
                                    <div class="CampaignBTN">
                                        <div class=""><img src="../../assets/Vector4.png" class="img-fluid1234"
                                                alt="..."></div>
                                    </div>

                                </div>
                            </div>
                            <!--  -->
                            <div class="CardActivities">
                                <div class="Profile"><img src="../../assets/Ellipse 17.png" class="img-fluid1234"
                                        alt="...">
                                </div>
                                <div class="ActivityContent">
                                    <div class="ActivityContentHeader">
                                        <div class="Viewed">Viewed</div>
                                        <div class="Activitybutton">Marvin McKinney</div>
                                    </div>
                                    <div class="AccountExecutive"> Account Executive</div>
                                    <div class="Minutesago"> 20 Minutes ago</div>
                                </div>
                                <div class="ButtonSend">
                                    <div class="CampaignBTN">
                                        <div class=""><img src="../../assets/Vector4.png" class="img-fluid1234"
                                                alt="..."></div>
                                    </div>

                                </div>
                            </div>
                            <!--  -->
                            <div class="CardActivities">
                                <div class="Profile"><img src="../../assets/Ellipse 17.png" class="img-fluid1234"
                                        alt="...">
                                </div>
                                <div class="ActivityContent">
                                    <div class="ActivityContentHeader">
                                        <div class="Viewed">Viewed</div>
                                        <div class="Activitybutton">Albert Flores</div>
                                    </div>
                                    <div class="AccountExecutive"> Account Executive</div>
                                    <div class="Minutesago"> 20 Minutes ago</div>
                                </div>
                                <div class="ButtonSend">
                                    <div class="CampaignBTN">
                                        <div class=""><img src="../../assets/Vector4.png" class="img-fluid1234"
                                                alt="..."></div>
                                    </div>

                                </div>
                            </div>
                            <!--  -->
                            <div class="CardActivities">
                                <div class="Profile"><img src="../../assets/Ellipse 17.png" class="img-fluid1234"
                                        alt="...">
                                </div>
                                <div class="ActivityContent">
                                    <div class="ActivityContentHeader">
                                        <div class="Viewed">Viewed</div>
                                        <div class="Activitybutton">Jane Cooper</div>
                                    </div>
                                    <div class="AccountExecutive"> Account Executive</div>
                                    <div class="Minutesago"> 20 Minutes ago</div>
                                </div>
                                <div class="ButtonSend">
                                    <div class="CampaignBTN">
                                        <div class=""><img src="../../assets/Vector4.png" class="img-fluid1234"
                                                alt="..."></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>